html {
    background-color: #857c86;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html:active {
    background-color: black;
}

html:active .secret {
    display: block;
    overflow-wrap: break-word;
    letter-spacing: 7px;
    color: rgb(225, 225, 225);
}

html:active .content {
    display: none;
}

html:active .sidebar {
    height: 1000px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Spectral SC', serif;
    color: #f5f5f5;
}

header {
    margin: 0;
    padding: 0;
    height: 4.27%;
    min-height: 30px;
    width: 100%;
    background-color: rgba(70, 69, 69, 0.836);
    border-bottom: 1px solid black;
    display: block;
}

header div {
    display: block;
    padding: 13px 15px 14px 15px;
    text-align: center;
    letter-spacing: 3px;
}

.pop {
    padding: 13px 2px 8px 2px;
}

.pop:hover {
    font-size: 26px;
}

.sidebar {
    float: left;
    width: 200px;
    height: 91.46%;
    min-height: 90%;
    background-color: #2C68A4;
    border-right: 1px solid black;
}

.descriptor {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

ul {
    margin-top: 20px;
    padding-left: 50px;
}

li {
    padding-bottom: 30px;
    width: 130px;
}

li img {
    width: 65px;
    height:75px;
    padding-top: 10px;
    display: none;
}

li:hover img {
    display: block;
}

main {
    color: black;
    padding: 10px 10px 0 210px;
    font-family: Raleway;
    font-size: 16.5px;
}

.secret {
    display: none;
    color: #857c86;
    padding-bottom: 0;
}

main div {
    padding: 10px 20px;
}

.gif {
    display: none;
    margin: auto;
    width: 300px;
    height: 320px;
    padding-top: 20px;
}

.gif-holder {
    padding-top: 50px;
    text-align: center;
}

.gif-holder:active .gif {
    display: block;
}

.gif-holder:active {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 480px;
    margin: auto;
}

.gif-holder:active span {
    display: none;
}

.gif-holder span:hover {
    cursor: pointer;
}

footer {
    display: block;
    width: 100%;
    height: 4.27%;
    min-height: 20px;
    padding: 13px 15px 14px 15px;
    clear: both;
    background-color: black;
    position: relative;
}

.left-foot, .right-foot {
    position: absolute;
    bottom: 7px;
    color: whitesmoke;
}

.left-foot {
    left: 80px;
}

a:visited {
    color: whitesmoke;
}

.right-foot {
    right: 10px;
}